@font-face {
    font-family: "Le Murmure";
    src: url(/fonts/lemurmure/Le_Murmure-Regular_web.ttf);
}
@font-face {
    font-family: "Euclid Circular A regular";
    src: url(/fonts/euclid/Euclid\ Circular\ A\ Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Euclid Circular A";
    src: url(/fonts/euclid/Euclid\ Circular\ A\ Medium.ttf);
}
@font-face {
    font-family: 'Floreste';
    src: url(/fonts/Floreste/Floreste-Wavy.otf);
}
@media all and (min-width:1920px) {
    :root{
    
    }
}
html{
    font-size: 18px;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    margin: 0px;
    background-color: #AE97E8;
    color: #ffffff;
    font-family: "Euclid Circular A";
    font-weight: 400;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-left: 60px;
    padding-top: 53px;
    position: relative;
    z-index: 101;
}
main{

}
p{
    font-size: 0.833334rem;
    line-height: 23px;
}
.button_cansel_setting{
    border: none;
    background-color: transparent;
    padding: 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    
}
.numbers{
    color: #D9FF5A;
    font-size: 2.22223rem;
    font-family: "Floreste";
}
.hr_main_elem{
    background-color: rgba(255, 255, 255, 0.2);
    border: 0px;
    height: 1px;
}
.first_slide_background{

}
.button_cansel_setting span{

    font-weight: 500;
  
    
}
.header_d, .header_m{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-family: "Le Murmure";
    font-size: 2.5rem;
    margin: 0px;
}
.header_cover{
    width: 86%;
    height: 100%;
}
.catalog_container_button {
    width: 98px;
    height: 15px;
}
.header_inner_component {
    display: flex;
    justify-content: space-between;
}
.header_d_on_slides_component{
    display: flex;
    justify-content: space-between;
    width: 33%;
}
.news_contacts_container{
    width: 155px;
}
.search_header_container{
    width: 94px;
}
.user_manipulation_container{
    width: 7.;
}
.first_slide, .second_slide, .third_slide {
    position: relative;
}
.active_slide .lamp_photo{
    height: 33vw;
}
.dialog_composition_backdrop_cover{
  position: relative;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
}
.dialog_composition_backdrop_cover_in{
  padding-top: 1.2222222222rem;
  padding-right: 1.277777777rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 30px;
}
.dialog_composition_backdrop{
  backdrop-filter: blur(100px);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 30px;
}
.active_slide{
  border-radius: 50px;
}
h2{
    font-size: 1.555556rem;
    text-transform: uppercase;
    font-weight: 400;
}
.lamp_photo{
   filter: drop-shadow(35px 15px 30px rgba(0, 0, 0, 0.3));
    height: 28%;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.lamp_day_title_container{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-area: lamp_day_title;
    align-self: end;
}
.title_decoration{
   color: rgba(203, 182, 255, 0.6);
   text-transform: uppercase;
   font-size: 11.03vw;
   font-family: "Floreste";
}
.title_day{
    color: #D9FF5A;
    text-transform: uppercase;
    margin-bottom: 1.722223rem;

}
.card_information_container{
    grid-area: card_information;
}
.disable_slide_card{
    display: none;

}
.ringed_order_button{
    grid-area: ringed_order_button;
    width: 100%;
    position: relative;
}
.ringed_order_button_in_first{
    position: absolute;
    z-index: 1;
    border-radius: 50%/50%;
    border: 2px solid #D9FF5A;
    width: 100%;
    height: 100%;
    transform: rotate(-13deg);
    background-color: rgba(255, 255, 255, 0.19);
}
.ringed_order_button_in_shop{
  transform: rotate(356deg);
}
.disable_slide .lamp_photo{
    transform: rotate(7deg) translate(-50%, -50%);
}
.ringed_order_button_in_second{
    position: absolute;
    z-index: 2;
    border-radius: 50%/50%;
    border: 2px solid #D9FF5A;
    height: 100%;
    width: 100%;
}
.ringed_order_button_in_title{
    width: 100%;

    align-items: center;
}
.active_slide_card{
    display: grid;
    position: relative;
    grid-template-columns: 0.76fr 1fr 0.87fr ;
    grid-template-rows: 1.5fr 1fr;
    grid-template-areas: "lamp_day_title lamp_day_title lamp_day_title" "card_information . ringed_order_button";
    width: 61vw;
    height: 54.4vw;
    align-items: center;
    padding-right: 2.3889rem;
    padding-left: 2.3889rem;
    box-sizing: border-box;

}

.disable_slide:nth-child(1){
  margin-right: 1.1rem;
}
.active_slide:nth-child(1){
  margin-right: 1.1rem;
}
.disable_slide:nth-child(3){
  margin-left: 1.1rem;
}
.active_slide:nth-child(3){
  margin-left: 1.1rem;
}
.main_composition{
    margin-top: 1.22223rem;
    display: flex;
    padding-right: 1.1rem;
    position: relative;
    top: -100px;
    justify-content: space-between;
    padding-left: 1rem;
}
.disable_slide{
    width: 27.55%;
    height: 54.1vw;
    border-radius: 50px;
}
.second_ribbon, .first_ribbon{
  left: -1rem;
  top: 50%;

}
main > *{
    padding-left: 3.3rem;
    padding-right: 3.3rem;

}
.disable_slide .slide_number_container{
    bottom: 3.833334rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 4.5rem;
    justify-content: space-between;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}
.active_slide .slide_number_container{
    display: none;

}
.subtitle_numbers{
    color: #FFFFFF;
    
}
.subtitle{
    font-size: 0.833334rem;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}
.main_categories_cards_container{
    height: 32.9vw;
    display: flex;
    justify-content: space-between;

}
.main_categories_card{
    background-image: url(/assets/Subtractnewes.svg);
    position: relative;
    width: 21.541%;
    height: 24.06vw;
    background-size: contain;
    background-repeat: no-repeat;
}
.main_categories_card > *{
    position: absolute;
}
.main_categories_count_container .numbers{
    color: #FFFFFF;
}
.main_categories_count_container .subtitle{
    margin-top: 10px;
    color: #ffffff;
}
.main_categories_count_container{
    background-color: #FA8FEF;
    width: 20.9%;
    height: 15.38%;
    transform: rotate(-27deg);
    right: -9%;
    top: 33%;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% / 50%;
}
.main_categories_card_img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 54%;
}
h1{
    font-size: 3.3333334rem;
    font-weight: 300;
    margin-bottom: 3.888889rem;
    text-transform: uppercase;
}
.main_categories h1{
    text-align: center;
}
.main_categories_card_titl{
  font-size: 3.33333333rem;
}
.button_card_category{
    border-radius: 100px;
    border: 2px solid #D9FF5A;
    width: 28.08%;
    height: 22.8%;
    background-color: rgba(235, 227, 255, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 60%);
}
.button_card_category img{
height: 34%;
}
#circle {
    fill: none;
    stroke-width: 0px;
    stroke: url(#grad);
  }
  
  #textPath {
    fill: none;
    color: #FFFFFF;
  }
  .circle_text{
    display: none;
    position: absolute;
    bottom: 33px;
    left: -30px;
  }
  .cards_product_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
    margin-top: 4rem;
  }
  .card_product_container{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "color img img img img" "titlename titlename titlename titlename titlename" "titlecategory titlecategory titlecategory titlecategory titlecategory" "hr hr hr hr hr" "price price . order order" ;
    width: 274px;
    height: 415px;
  }
  .button_card_category_activate{
    background-color: #D9FF5A;
  }
  .color_card_section{
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    grid-area: color;
  }
  .shoping_cart_card_name{
    grid-area: cartname;
    text-transform: uppercase;
  }

  .trashcan{
    grid-area: trashcan;
    height: 1.83333333333333rem;
    margin-top: 0.2222222222222rem;
  }
  .shoping_cart_card_hr{
    grid-area: shophr;
    width: 100%;
    padding: 0px;
    height: 2px;
    background-color: #D9FF5A;
    margin: 0px;
    border: none;
  }
  .shoping_cart_card_total_price{
    grid-area: totalprice;
  }
  .shoping_cart_card_change_count{
    grid-area: changecount;
  }
  .card_cart_img{
    max-height: 7.88888888888rem;
  }
  .shoping_cart_card_name_area span{
    text-transform: uppercase;
    font-size: 1.11111111rem;
    letter-spacing: 2px;
  }
  .shoping_cart_card_name_area{
    display: flex;
    justify-content: flex-start;
  }
  .order_container_in{
    display: flex;
    justify-content: space-between;
  }
  .shoping_cart_card_change_count, .trashcan{
    justify-self: flex-end;
  }
  .shoping_cart_card_total_price, .shoping_cart_card_change_count{
    align-self:flex-end;
  }
  .shoping_cart_card_right{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 0.1fr 0.65fr ;
    grid-template-areas: "cartname trashcan" "shophr shophr" "totalprice changecount";
    justify-content:left;
    width: 75%;
  }
  .shop_cart_count{
    margin-left: 0.555555555rem;
    margin-right: 0.555555555rem;
  }
  .shop_cart_count_button{
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.19);
    color: #FFFFFF;
    font-size: 1rem;
    padding: 0px;
    font-weight: 400;
  }
  .disactive{
    filter: opacity(0.5);
  }
  .shoping_cart_card{
         display: flex;
         justify-content: space-between;
         margin-right: 1rem;
  }
  .color_card_sections{
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
  }
  .img_product_card{
    grid-area: img;
    justify-self: center;
    max-height: 260px;

    object-fit: cover;
    
  }
  .h2_in_product_card{
    grid-area: titlename;
    font-size: 1.555rem;
    text-align: center;
  }
  .subtitle_in_product_card{
    grid-area: titlecategory;
    font-size: 0.83334rem;
    text-align: center;
  }
  .hr_in_product_card{
    grid-area: hr;
    background-color: #D9FF5A;
    height: 2px;
    width: 100%;
  }
  .card_price_in_category{
    grid-area: price;
  }
  .card_buy_button_in_category{
    grid-area: order;
    background-color: transparent;
    border: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 102px;
  }
  .card_buy_button_in_category span{
    color: #FFFFFF;
    font-size: 18px;
  }
  .cards_product_container_setting_container{
    display: flex;
    justify-content: space-between;
  }
  .one_ringed_order_button{
    width: 319px;
    height: 135px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.85rem;
  }

  .shoping_cart_card_object_name{
    margin-top: 0.72222222rem;
    text-transform: none;
  }
  .one_ringed_order_button_shop{
    width: 10.5rem;
    height: 5.16666666rem;
    position: relative;
  }
  .dailog_composition_in{
    height:90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .shoping_cart_container{
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    height: 76%;
    width: 100%;
    overflow-y: auto;
  }
  .shoping_cart_container > *:not(:last-child){
    margin-bottom: 3.333333rem;
  }
  .favorite_cart_container{
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    height: 92%;
    width: 100%;
    overflow-y: auto;
  }
  .favorite_cart_container > *:not(:last-child){
    margin-bottom: 3.333333rem;
  }
  .close_dialog{
    margin-left: auto;
  }
  .price{
    color: #FFFFFF;
    font-weight: 200;
    letter-spacing: 3px;
  }
  .classspanfilter{
    margin-left: 11px;
  }
  .uppfontstyle{
    font-family: "Euclid Circular A regular";
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .ringed_order_button_in_title_one_circle{
    display: flex;
    flex-direction: column;
  }
  .first_ribbon{
    overflow: hidden;
  }
  .ribbon_promo_container{
    width: 105vw;
    position: relative;
    height: 14.4444rem;
    padding: 0px;
    overflow-x: hidden;
  }
  .first_ribbon{
    background-color: #CBB6FF;
    transform:rotate(4deg) translate(0%, -25%);
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 4rem;
    text-transform: uppercase;
    font-family: "Floreste";
    font-size: 1.19vw;
    display: flex;
    align-items: center;
    opacity: 80%;
    
  }
  .first_ribbon > *, .second_ribbon > *{
    margin-right: 4.5rem;
  }
  .second_ribbon{
    background-color: #AECEFF;
    transform:rotate(356deg) translate(0%, -25%);
    
    width: 100%;
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    height: 4rem;
    font-family: "Floreste";
    display: flex;
    align-items: center;
    font-size: 1.19vw;
  }
  .ribbon_promo_container{
    margin-top: 9.444444444444444rem;
  }
  .price_filter_container{
    width: calc(17.77777777777778rem - 1.666666666666667rem * 2);
    height: calc(11.77777777777778rem - 1.333333333333333rem - 1.222222222222222rem);
    background-color: #CBB6FF;
    padding: 1.222222222222222rem 1.666666666666667rem  1.333333333333333rem 1.666666666666667rem;
    border-radius: 40px;
  }
  .colors_filter_container{
    width: calc(17.77777777777778rem - 1.666666666666667rem * 2);
    height: calc(16.88888888888889rem - 1.333333333333333rem - 1.222222222222222rem);
    background-color: #CBB6FF;
    padding: 1.222222222222222rem 1.666666666666667rem  1.333333333333333rem 1.666666666666667rem;
    border-radius: 40px;
  }
  .price_filter_container_form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 6.333333333333333rem;
    align-content: space-between;
  }
  .price_input_style{
    width: 6.833333333333333rem;
    height: 2.222222222222222rem;
    background-color: #AE97E8;
    padding: 0px;
    border-radius: 11px;
    border: none;

  }
  .filter_container_h4{
    margin-top: 0px;
    margin-bottom: 22px;
  }
  .buttons_news{
    display: flex;
    width: 1.944rem;
    justify-content: space-between;
    align-items: center;
  }
  .paginator_news{
    width: 0.38rem;
    height: 0.38rem;
    padding: 0px;
    filter: blur(50);
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 100px;
  }
  .main_news_block_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slide_number_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slide_number_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10.5rem;
  }
  .slide_number_section hr{
    width: 3.5rem;
    background-color: #CBB6FF;
    padding: 0px;
    height: 2px;
    border: none;
  }
  .main_news_block_body_card_news{
    background-image:url(/assets/Subtractnews.svg);
    width: 32.223%;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
  }
  .main_news_block_body_card_news_leftPart{
    padding: 1.38889rem;
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .reading_time_block{
    bottom: 7%;
    left: 27.5%;
    transform: translate(-50%, 60%);
    position: absolute;
    rotate: 343deg;
    width: 17.23%;
    height: 24.843%;
    border-radius: 6.388rem / 5.388rem;
    font-size: 0.833333rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reading_time_block span{
  font-family: "Floreste";
  font-size: 2.2222222rem;
  display: flex;
  height: 1.8rem;
  
}
.cards_product_container_cover{
  display: none;
}
.main_news_block_body_card_news_leftPart_header{
  display: flex;
  justify-content: space-between;

}
.main_news_block_body_card_news_rightPart{
  width: 44%;
  padding: 0.72223rem;
}
.main_news_block_body_card_news_rightPart img{
  width: 100%;
  height: 100%;
}
.main_news_block_header > div:first-child{
  display: flex;
  justify-content: space-between;
  width: 13.495%;
}
.card_news_number{
  color: rgba(255, 255, 255, 0.6);
  font-family: "Euclid Circular A";
  font-size: 0.83334rem;
}
.news_number{
  letter-spacing: 4px;
  font-weight: 100;
}
.main_news_block_body_card_news_leftPart p{
  
  margin-bottom: 0px;
}
.main_news_block_body_card_news_leftPart h2{
  margin-top: 0px;
  /* font-size: 1.53vw; */
}
footer{
  margin-top: 9.444444rem;
  display: flex;
  justify-content: space-between;
  padding-left: 3.7222222rem;
  padding-right: 3.7222222rem;
  padding-bottom: 5.055555rem;
  align-items: center;
}
.main_news_block_body_card_news_block{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.activepadding{
  background-color: #FFFFFF;
}
.dialog_composition{
  z-index: 6;
  background-color: rgba(51, 32, 101, 0.18);
  border-radius: 30px;
  border: none;
  margin-left: auto;
  margin-right: 60px;
  width: 32.2339vw;
  height: 86%;
  top:5rem;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0px;
}
.dialog_composition_cover{
  box-sizing: border-box;
  padding-left: 2.666666rem;
  padding-bottom: 2.666666rem;
  padding-right: 1.3888888rem;
  padding-top: 0px;
  width: 100%;
  height: 96%;
}
.title_dialog{
  font-size: 1rem;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 2.944444444rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 1750px) {
  html{
    font-size: 16px;
  }
}
@media (min-width:1440px) and (max-width: 1750px) {
  html{
    font-size: 14px;
  }
}
@media (min-width:1200px) and (max-width: 1440px) {
  html{
    font-size: 12px;
  }
}
@media (min-width:1024px) and (max-width: 1200px)  {
  .active_slide_card{
    padding-left: 1.3889rem;
    padding-right: 1.3889rem;
  }

  header{padding-left: 40px;}
}