body{
    overflow-x: hidden;
    margin: 0px;

}
.product_modal_container{
    width: 94vw;
    height: 94vh;
    background-color: #AE97E8;
    padding: 60px;
    color: #FFFFFF;
    z-index: 20;
    border: 0px;
    margin: 0px;

}

.product_modal_container_in{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 0.5fr 0.2fr 1.5fr 1fr;
    grid-template-areas: 
        ". . modalclose" 
        "artarea . modallike" 
        "colormodal . heightmodal" 
        "titledecorationmodal titledecorationmodal titledecorationmodal" 
        "descmodal namepricemodal orderinmodal";
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.product_modal_in_close{
    grid-area: modalclose;
}
.art_area, .color_modal_in_area, .modal_in_description_area{
    justify-self: left;
}
.product_modal_in_close, .like_it_button, .height_modal_in_area ,.ringed_order_button_inmodal{
    justify-self: right;
}
.art_area{
    grid-area: artarea;
    font-size: 0.83333rem;
}
.like_it_button{
    grid-area: modallike;
    border-radius:100px;
    width: 4.388888888rem;
    height: 4.388888888rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.19);
}
.like_it_button_disactive{
    border:2px solid rgba(217, 255, 90, 1);

}
.like_it_button_active{
    border:2px solid rgba(255, 177, 247, 1);
}
.color_modal_in_area{
    grid-area: colormodal;
    display: flex;
   text-transform: uppercase;
   letter-spacing: 2px;
}
.height_modal_in_area{
    grid-area: heightmodal;
    text-transform: uppercase;
}
.title_decoration_modal{
    grid-area: titledecorationmodal;
    font-size: 18.4vw;
    color: rgba(203, 182, 255, 0.6);
    text-transform: uppercase;
    font-family: "Floreste";
    align-self: end;
}
.modal_in_description_area{
    grid-area: descmodal;
    font-size: 1.11111111rem;
}
.name_price_container_modal_in{
    grid-area: namepricemodal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name_price_container_modal_in h2{
    font-size: 5.5555555rem;
    line-height: 5.5555555rem;
    height: 3.555555rem;
    margin: 0px;
    margin-bottom: 1.22222222rem;
    font-family: "Floreste";
}
.ringed_order_button_inmodal{
    grid-area: orderinmodal;
    width: 100%;
    height: 60%;
    position: relative;
}
.color_sec_in_modal{
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    margin-left: 1.633333rem;
    margin-right: 0.8rem;
}
.modal_lamp_photo{
    width: 362px;
    height: 709px;
    top: 37%;
}
.favorite_card{
    display: flex;
    justify-content: space-between;
}
.search_section{
width: 100%;
height: 100%;
border: none;
background-color: #AE97E8;
z-index: 100;
padding-top: 138px;
color: #FFFFFF;
margin: 0px;

}
.makeOrderPage{
width: 100%;
height: 100%;
border: none;
background-color: #AE97E8;
z-index: 100;
padding-top: 138px;
color: #FFFFFF;
margin: 0px;
padding-left: 3.33333333333rem;
padding-right: 3.33333333333rem;
box-sizing: border-box;
}

.wshowchane{
  display: none;
}
.search_result{
  margin-left: auto;
  margin-right: auto;
  width: 93.694%;
}
.saerch_container{
  width: 93.694%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10000px;
  display: flex;
  padding: 6px;
  
}
.saerch_container input{
  width: 90%;
  padding: 0px;
  height: 46px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 13px;
  background-color: transparent;
  border: 0px;
  color: #FFFFFF;
  font-size: 1rem;
}
.saerch_container input:focus, .saerch_container input:active{
  outline: 0;
  outline-offset: 0;
  background-color: transparent;
  box-shadow: none;
}
.saerch_container button{
  margin-left: auto;
}
.search_elem_container{
  height: 58px;
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  background-color: #AE97E8;
  border-radius: 100px;
}
.search_result_container{
  display: flex;
  justify-content: space-between;
  row-gap: 60px;
  flex-wrap: wrap;
}

.makeOrderPage_Inner_Container_right{
  z-index: 6;
  background-color: rgba(51, 32, 101, 0.18);
  border-radius: 30px;
  border: none;
  margin-left: auto;
  margin-right: 60px;
  width: 32.2339vw;
  height: 86%;
  top:5rem;
  color: #ffffff;
  box-sizing: border-box;
  padding: 0px;
}


#registrationF, #loginF{
  overflow: hidden;
}






.favor_cart_card_name{
    grid-area: fcartname;
    text-transform: uppercase;
  }

  .favor_trashcan{
    grid-area: ftrashcan;
    width: 3rem;
    height: 3rem;
  }
  .favor_shoping_cart_card_hr{
    grid-area: fshophr;
    width: 100%;
    padding: 0px;
    height: 2px;
    background-color: #D9FF5A;
    margin: 0px;
    border: none;
  }
  .favor_shoping_cart_card_total_price{
    grid-area: ftotalprice;
  }
  .card_cart_img{
    max-height: 7.88888888888rem;
  }
  .shoping_cart_card_name_area span{
    text-transform: uppercase;
    font-size: 1.11111111rem;
    letter-spacing: 2px;
  }
  .shoping_cart_card_name_area{
    display: flex;
    justify-content: flex-start;
  }

  .fshoping_cart_card_change_count, .ftrashcan{
    justify-self: flex-end;
  }
  .fshoping_cart_card_total_price, .fshoping_cart_card_change_count{
    align-self:flex-end;
  }
  .favor_cart_card_right{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 0.1fr 0.65fr ;
    grid-template-areas: "fcartname ftrashcan" "fshophr fshophr" "ftotalprice .";
    justify-content:left;
    width: 75%;
  }
  .dialog_composition_cover_favor{
    padding-bottom: 0px;
    height: 95%;
  }
  .favorite_to_cart_page {
    height: 74%;
  }
  .favor_trashcan img{
    width: 0.95rem;
    height: 0.85rem;
  }
  .autor_form{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: column;
  }
  #profilepage{
    height: 50%;
  }
  .autor_form input:not(:last-child){
    border: none;
    border-bottom: 2px solid #D9FF5A;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    height: 1.72222222rem;

  }
  .autor_form input::placeholder{
    text-transform: uppercase;    
    color: #FFFFFF;
    font-size: 0.83333333rem;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .autor_form_button{
    width: 6.6666666rem;
    height: 4.5rem;
  }
  .ringed_order_button_in_autor{
    transform: rotate(344deg);
    
  }
  .autor_form{
    height: 70%;
  }

.map_dialog{
  width: 93.75%;
  height: 92.871%;
  padding: 0px;
  border-radius: 30px;
  border: 0px;
  background-color: transparent;
}
.map_dialog_in{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "leftMap RightMap" "DownMap DownMap";
  height: 100%;
  width: 100%;


}
.information_map_block>*{
  margin: 0px;
}
.dialog_left_up{
  color: #FFFFFF;
  grid-area: leftMap;
  background-color: #AE97E8;
  padding-top: 4.6111111rem;
  padding-left: 4.6111111rem;
  box-sizing: border-box;
}
.information_map_block p{
  margin-top: 1.833333rem;
}
.information_map_block_tel{
  font-size: 2.22222222rem;
  font-family: "floreste";
  margin-top: 0.8333333rem;
}

.dialog_left_up_in{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 1fr;
  box-sizing: border-box;
  height: 75.5%;
  width: 100%;
  margin: 0px;
}
.map_buttons_in{
  align-self: end;
}
.map_buttons_in a{
  margin-right: 1rem;
}
.dialog_right_up{
  grid-area: RightMap;
  background-color: #FA8FEF;
  padding-top: 4.6111111rem;
  padding-right: 4.6111111rem;
  box-sizing: border-box;
}
.information_map_block_p{
  margin-top: 2.611111rem!important;
}
.dialog_down{
  grid-area: DownMap;
  background-color: #FFFFFF;
}
.map_buttons_in_adres{
  margin-bottom: 10px;
  display: flex;
}
.map_buttons_in_adres div{
  margin-bottom: 5px;
  margin-right: 1rem;
}
.titleHeadMap{

}
.dialog_right_up_in{
padding-left: 4.6111111rem;
height: 100%;
}
.form_back_action{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;  
}
.form_back_action input{
  border: none;
  border-bottom: 2px solid #D9FF5A;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  height: 1.72222222rem;
}
.makeOrderPage_Inner_Container{
  display: flex;
  justify-content: space-between;
}
.input_makeOrder{
  color: #FFFFFF;
}
.input_makeOrder::placeholder{
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 0.83333rem;
}
.form_back_action_makeoreder{
  height: 19.8888888rem;
  width: 49rem;
}